/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
    background-color: #FBEBE4;
    background-image: url(background2.png);
    background-size:cover;
    background-repeat:no-repeat;
    color: #000;
    font-size: 16px;
}

main {
    width: 70%;
    margin: 0 10%;
    background-color: white;
    padding: 3rem;
    margin: 0 15%;
    border: 0.05px solid #696969;
    filter: drop-shadow(0 0 10px #34432E);

}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

a {
    color: #969C52;
}

a:visited, a:active, a:hover {
    color: #AC473D;
}

.verify {
    opacity: 0;
}